# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs & dumps
*.log
www/maxicoursesapp/api/debug/

# VS Code
.vscode/

# Autres caches temporaires
.tmp/
www/maxicourses_test/snapshots/
www/maxicourses_test/.chrome-debug/
